.estilo {
	display: flex;
	padding: 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
}

.estilo:nth-child(even) {
	background-color: rgb(171, 231, 166);
}

.estilo:last-of-type {
	border-bottom: 0;
}

.estilo .id {
	flex: 1 1 50px;
}

.estilo .content {
	flex: 1 1 100%;
}

.estilo.done .content {
	text-decoration: line-through;
	font: oblique 100% cursive;	
}

.ingreso {
	display: block;
	width: 90%;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #AEFFC6;
	margin-top: 15px;
	font-size: 15px;
	outline: none;
}

.enviar {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #34DF68;
	color: #161A17;
	
}

.aceptar{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #27c527;
    border-radius: 6px;
    border: 2px solid #35a33b;
	margin: 20px 125px;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
  }  .aceptar:hover{
    color: #68ad5a;
    background-color: #ffffff;
  }


  .eliminar{
    text-decoration: none;
    padding: 3px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    background-color: #ffaeae;
    border-radius: 6px;
    border: 2px solid #995555;

	font-size: 12px;
	font-weight: 700;
  }  .eliminar:hover{
    color: #a01818;
    background-color: #ffffff;
  }


